@{
    ViewData["Title"] = "Douglas David Leal Rivero";
}
<h2>@ViewData["Title"]</h2>


<p>
    I'm an enthusiastic 25 years old computer engineer who is always active looking for new knowledge. <br />
    passionate  about technology, computer  science and web development I started  to code very young <br />
    currently  I'm a .NET  developer  and I haver  knowledge  in the following  coding  languages:  <br />
    c#, Visual Basic and python<br /><br />

    if  you want  to  know  i  bit  more  about  me <br />
    you can view my proffesional profile at Linkedin<br />
    following next link: <a class="btn btn-default" href="https://www.linkedin.com/in/leal-douglas/"> Douglas Leal </a>


</p>
