@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Gualeguaychu 183, Floresta <br />
    ciudad autonoma de buenos Aires, Argentina <br />
    Number: 11-6014-8844
</address>

<address>
    <strong>Email:</strong> <a href="douglasleal.15@gmail.com">Douglasleal.15@gmail.com</a><br />
</address>
